@import "_variables.scss";

body.docs {

  .ui.menu {
    margin: 0;
  }

  .pusher > .full.height {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
  }

  .full.height > .toc {
    position: relative;
    z-index: 1;
    width: 250px;
    flex: 0 0 auto;
    background-color: $black;

    .ui.menu {
      border-radius: 0;
      border-width: 0 1px 0 0;
      box-shadow: none;
      margin: 0;
      width: inherit;
      overflow: hidden;
      will-change: transform;
    }

    .ui.dimmer {
      background-color: fade($black, 85%);
    }
  }

  #content {
    flex: 1 1 auto;
    min-width: 0;
  }

  .docs.grid {
    padding: 2em 0em 7em;
  }

  .masthead > .container,
  .docs.container {
    margin-left: 3em !important;
    margin-right: 3em !important;
    width: auto !important;
  }

  /*-----------------------------
          Nav
    -------------------------------*/
  .docs-nav {
    & > ul {
      list-style: none;
      padding: 0;
      margin: 0;

      & > li {
        font-size: 18px;
        font-weight: 400;
        padding: 0 0 10px;
        margin: 25px 0 0px;

        & > ul {
          border-top: 1px dashed rgba($black, 0.1);
          display: block;
          list-style: none;
          margin: 10px 0 0 0;
          padding: 10px 0 0 0;
          font-size: 14px;
        }
      }
    }
  }

  .ui.mobile.menu .docs-nav {

    padding-right:0;

    & > ul > li > ul {
      border-top: 1px solid rgba($white, 0.1);

      & > li {
        margin: 5px 0 0 0;
      }
    }

    a {
      color: rgba($white, 0.9);
    }
  }

  /*-----------------------------
          Article
    -------------------------------*/

  article {
    padding: 3em;

    // TOC
    h1 + ul {
      padding: 0;
      list-style: none;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.5;

      padding-bottom: 50px;
      border-bottom: 1px solid rgba(34,36,38,.15);
    }

    li > ul {
      font-weight: normal;
      list-style: none;
    }

    //Headers
    h1 {
      font-size: 3rem;
    }

    h2 {
      margin-top: 2em;
    }

    h3 {
      margin-top: 2em;
    }


    // Lists
    .content-list ul li {
      margin: 4px;
      line-height: 1.65;
    }

  }

  @media only screen and(max-width: 767px) {
    article {
      padding: 0.8em;
    }
  }

}
